# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# FAISS index (very important)
faiss_index/
faiss_index_test/

# Data / PDFs
data/
*.pdf

# OS files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

# Local Streamlit logs
.streamlit-*.log
